################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Extention/FileContentIndex/10121bdc-6315-4f6e-94ac-fd1a46abeb7f.vsidx
/.vs/Extention/FileContentIndex/10c93d41-d82c-482f-a617-105e967bc9de.vsidx
/.vs/Extention/FileContentIndex/55fe423a-ecf3-4840-ab4e-afdab2848472.vsidx
/.vs/Extention/FileContentIndex/723f158e-1cf4-42c2-aa54-e36f7b80a1e1.vsidx
/.vs/Extention/FileContentIndex/f52f8634-b0ca-4955-83a4-e0d437f71198.vsidx
/.vs/slnx.sqlite
